/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.donations {
  @include relative-font-size(1.1);
  margin-bottom: $spacing-unit / 6;
  color:#111;
}

.donation-methods-list{
  list-style: none;
  margin-left: 0;
  img {
    width: 120pt;
    margin-bottom: 3.5pt;
  }
}


.bitcoin-address img,
.bitcoin-lightning img {
  /* Especificar que queremos una transición en la propiedad filter */
  transition: filter 0.30s ease-in-out;
}

.bitcoin-address:hover img,
.bitcoin-lightning:hover img {
  filter: brightness(90%);
}

.social-networks{
  @include relative-font-size(1.1);
  margin-bottom: $spacing-unit / 6;
  color:#111;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(33.5% - (#{$spacing-unit} / 2));
  width:         calc(33.5% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(21.5% - (#{$spacing-unit} / 2));
  width:         calc(21.5% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: 0px; /* Originalmente: margin-bottom: $spacing-unit;*/
  }
}

.post-meta {
  @include relative-font-size(1.1);
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.65);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

@media (max-width: 600px) { //set max width to preferred mobile width. 
  .embedded-youtube-video{
    .large-screen {display:none;}
    .small-screen {display:initial;}
  }
}

@media (min-width: 601px) { //set min width to be larger than the css rule above.
  .embedded-youtube-video{
    .large-screen {display:initial;}
    .small-screen {display:none;}
  }
}

.post-list {
  .post-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .post-image-link {
    flex-shrink: 0;
    width: 336px;
    height: 189px;
    margin-left: 20px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 10px;
  }

  .post-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.35s ease-in-out;
    border-radius: 10px;
  }

  .post-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .post-image-link:hover .post-image {
    transform: scale(1.04);
  }

  .post-link, .post-meta {
    margin-left: 10px;
  }

  /* Consulta de medios para tamaños de pantalla <= 600px */
  @media (max-width: 600px) {
    .post-item {
      flex-direction: column;  /* Cambia la dirección del flexbox para apilar los elementos verticalmente */
      align-items: flex-start;  /* Alinea los elementos al inicio del eje cruzado (izquierda, en este caso) */
    }

    .post-image-link,
    .post-info {
      margin: 0;  /* Remueve márgenes adicionales */
      width: 100%;  /* Ocupa todo el ancho disponible */
    }

    .post-image-link {
      margin-bottom: 7px;  /* Añade un pequeño margen en la parte superior para espacio entre el texto y la imagen */
    }

    .post-link, .post-meta {
      margin-left: 0;  /* Remueve el margen izquierdo para estos elementos en móviles */
    }

    .post-meta {
      @include relative-font-size(1);
      color: $grey-color;
    }
    
    .post-link {
      display: block;
      @include relative-font-size(1.5);
    }
  }
}